<div class="container my-5 bg-light pt-5 pb-5 px-5">
    <div class="mb-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">What we have to offer</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="card feature-card h-100">
                <div class="card-body text-center d-flex flex-column">
                    <i class="fas fa-coins fa-3x mb-3"></i>
                    <h5 class="card-title">Completely Custom Economy</h5>
                    <p class="card-text mb-auto">From currency tokens, to npc-towns, and from player markets, to the
                        auction
                        house, the economy is always booming.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card feature-card h-100">
                <div class="card-body text-center d-flex flex-column">
                    <i class="fas fa-map-marked-alt fa-3x mb-3"></i>
                    <h5 class="card-title">Land Claiming</h5>
                    <p class="card-text mb-auto">Halara offers the ability to claim, protect, and fully customize
                        one's
                        land- even rent it out to players at a price.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card feature-card h-100">
                <div class="card-body text-center d-flex flex-column">
                    <i class="fas fa-clock fa-3x mb-3"></i>
                    <h5 class="card-title">24hr Uptime</h5>
                    <p class="card-text mb-auto">With the exception of occasional maintenance, our servers are
                        always up
                        and running, ready to be played.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card feature-card h-100">
                <div class="card-body text-center d-flex flex-column">
                    <i class="fas fa-level-up-alt fa-3x mb-3"></i>
                    <h5 class="card-title">Evolve & Upgrade</h5>
                    <p class="card-text mb-auto">Just like in real life, the more you play, the better you get.
                        Halara
                        offers mcMMO skill-leveling, unlockable kits, and more.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card feature-card h-100">
                <div class="card-body text-center d-flex flex-column">
                    <i class="fas fa-gift fa-3x mb-3"></i>
                    <h5 class="card-title">Daily Rewards</h5>
                    <p class="card-text mb-auto">There's something new every day with daily rewards from quest NPC's
                        and
                        server voting rewards.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card feature-card h-100">
                <div class="card-body text-center d-flex flex-column">
                    <i class="fas fa-ban fa-3x mb-3"></i>
                    <h5 class="card-title">No Pay-to-Win</h5>
                    <p class="card-text mb-auto">Nobody likes pay-to-win servers. Halara's donation rewards make
                        sure to
                        honor your support while also balancing the experience.</p>
                </div>
            </div>
        </div>
    </div>
</div>