<table class="table">
    <tr>
        <td>Incrementals</td>
        <td><a href="https://halara.tebex.io/checkout/packages/add/4535463/single"
               class="btn btn-secondary">VIP</a></td>
        <td><a href="https://halara.tebex.io/checkout/packages/add/4535505/single"
               class="btn btn-secondary">MVP</a></td>
        <td><a href="https://halara.tebex.io/checkout/packages/add/4587311/subscribe"
               class="btn btn-secondary">Ultimate</a></td>
    </tr>
    <tr>
        <td>Additional enderchest storage slots</td>
        <td>+18 slots</td>
        <td>+27 slots</td>
        <td>+27 slots</td>
    </tr>
    <tr>
        <td>Amount of homes available</td>
        <td>3 homes</td>
        <td>5 homes</td>
        <td>10 homes</td>
    </tr>
    <tr>
        <td>Cost of using
            <mark>/rtp</mark>
            (normally $1,000)
        </td>
        <td>$500</td>
        <td>$250</td>
        <td>FREE</td>
    </tr>
    <tr>
        <td>Grant of experience levels</td>
        <td>30 levels</td>
        <td>60 levels</td>
        <td>300 levels</td>
    </tr>
    <tr>
        <td>Grant of in-game currency</td>
        <td>$15,000</td>
        <td>$25,000</td>
        <td>$125,000</td>
    </tr>
</table>
