<table class="table">
    <tr>
        <td>Description</td>
        <td><a href="https://halara.tebex.io/checkout/packages/add/4535463/single"
               class="btn btn-secondary">VIP</a></td>
        <td><a href="https://halara.tebex.io/checkout/packages/add/4535505/single"
               class="btn btn-secondary">MVP</a></td>
        <td><a href="https://halara.tebex.io/checkout/packages/add/4587311/subscribe"
               class="btn btn-secondary">Ultimate</a></td>
    </tr>
    <tr>
        <td>
            Ability to mine spawners with a Silk Touch I pickaxe
        </td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            Join server(s) when at full capacity
        </td>
        <td></td>
        <td>✔️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            AFK kick exemption
        </td>
        <td></td>
        <td>✔️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            Keep experience on death
        </td>
        <td></td>
        <td>✔️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            Attach leads to villagers
        </td>
        <td></td>
        <td>✔️</td>
        <td>✔️</td>
    </tr>
</table>