<table class="table">
    <tr>
        <td>Commands</td>
        <td><a href="https://halara.tebex.io/checkout/packages/add/4535463/single"
               class="btn btn-secondary">VIP</a></td>
        <td><a href="https://halara.tebex.io/checkout/packages/add/4535505/single"
               class="btn btn-secondary">MVP</a></td>
        <td><a href="https://halara.tebex.io/checkout/packages/add/4587311/subscribe"
               class="btn btn-secondary">Ultimate</a></td>
    </tr>
    <tr>
        <td>
            <mark>/clear</mark>
            clears your inventory completely
        </td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/craft</mark>
            opens a portable crafting table
        </td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/enderchest</mark>
            opens your enderchest from any point in the world
        </td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/feed</mark>
            fully replenishes your hunger bar
        </td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/hat</mark>
            puts the item you are currently holding onto your head
        </td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/nick</mark>
            changes your in-game display name
        </td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/stack</mark>
            converts all items and blocks in your inventory into stacks
        </td>
        <td>✔️</td>
        <td>✔️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/heal</mark>
            instantly regenerates your health
        </td>
        <td></td>
        <td>✔️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/anvil</mark>
            opens a portable anvil
        </td>
        <td></td>
        <td>️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/fly</mark>
            toggles flight-mode for your player
        </td>
        <td></td>
        <td>️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/grindstone</mark>
            opens a portable grindstone
        </td>
        <td></td>
        <td>️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/loom</mark>
            opens a portable loom
        </td>
        <td></td>
        <td>️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/msgtoggle</mark>
            toggles your ability to receive private-messages
        </td>
        <td></td>
        <td>️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/smithingtable</mark>
            opens a portable smithing table
        </td>
        <td></td>
        <td>️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/stonecutter</mark>
            opens a portable stonecutter
        </td>
        <td></td>
        <td>️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/tpauto</mark>
            toggles automatically accepting teleport requests
        </td>
        <td></td>
        <td>️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/tptoggle</mark>
            toggles the receiving of teleport requests
        </td>
        <td></td>
        <td>️</td>
        <td>✔️</td>
    </tr>
    <tr>
        <td>
            <mark>/warp hideout</mark>
            teleports you to a ultimate-exclusive lounge
        </td>
        <td></td>
        <td>️</td>
        <td>✔️</td>
    </tr>
</table>